.main {
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
    padding: 2px;
    margin: 1px;
}
h1 {color: black;
}
h2 {color: black;
}

.line1 {
  color: red;
}
.F { color: red;
  background-color: coral;
  font-style: italic;
}
.snippet {float: left;
color: black;
width: 20%;
}

body {background-color: skyblue;
  font-family: sans-serif;
}
.G1 {width: 40%;
float: left;
background-color: green;
margin-top: 4px;
}

.G2 {width: 40%;
float: right;
background-color: green;
margin-top: 4px;
}
@media screen and (min-width: 480px) {
    body {
        background-color: grey;
        color: white;
    }
}
